<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
   <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <logger name="ch.qos.logback" level="WARN"/>
  <logger name="org.springframework" level="WARN"/>

  <logger name="org.mio.qubic" level="WARN"/>
  <logger name="org.mio.qubic.node" level="WARN"/>

  <logger name="org.qubic" level="DEBUG"/>

  <root level="WARN" >
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>